
<h1>Editing Tweet</h1>

<%= render 'form', tweet: @tweet %>

<%= button_to "Show", @tweet,  :class => "inbox-sf-add-btn tip", :method => :get %>
<br>
<%= button_to "Back", tweets_path,  :class => "inbox-sf-add-btn tip", :method => :get %>

