<h1>Editing Tweet</h1>

<%= render 'form', tweet: @tweet %>
<button type="button" class="btn btn-outline-primary"><%= link_to 'Show', @tweet %></button>


<button type="button" class="btn btn-outline-primary"><%= link_to 'Back', tweets_path %></button>

